.product-form {
    width: 20rem;
    max-width: 30%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control input {
    border: 1px solid rgb(255, 183, 0);
    font: inherit;
    border-radius: 2px;
}

button {
    font: inherit;
    background: white;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid black;
}

button:hover,
button:active {
    background-color: rgb(255, 183, 0);
    color: white;
}